<app-header titulo="Cards"></app-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>Card Substitulo</ion-card-subtitle>
      <ion-card-title>Card Titulo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquam natus laudantium exercitationem voluptatum nisi facilis fuga. Commodi architecto fugit similique dolore laudantium quia, delectus fugiat ex reiciendis fuga incidunt!
    </ion-card-content>


  </ion-card>


  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pin" slot="start"></ion-icon>
      Ubicacion
    </ion-item>

    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse ipsa optio eos molestias unde quos animi autem aliquid quibusdam, soluta, accusantium suscipit non molestiae tenetur iure temporibus sed inventore mollitia.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/shapes.svg"></ion-img>
    <ion-content></ion-content>
  </ion-card>

</ion-content>
